body {
    background-color: white;
}

.card {
    left: 50% !important;
    top: 50% !important;
}

body {
    margin: 0;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;

}

*{
    box-sizing: border-box;
}

.table{
    width: 100px;
    border-collapse: collapse;
}

.table td,.table th{
    padding: 12px 15px;
    border: 1px solid #add;

}

@media(max-width: 500px){
    .table thead{
        display: none;
    }

    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }

    .table tr{
        margin-bottom: 15px;
    }

    .table td{
        padding-left: 50%;
        position: relative;
    }

    .table td::before{
        content: attr();
        position: absolute;
        left: 0;
        width: 50%;
        font-size: 15px;
        font-weight: bold;
    }
}