{% extends 'base.html' %}

{% block content %}
<center>
  <h3>DATA PELANGGARAN SISWA</h3>
</center>
<div class="container">
  <div class="row-md-20">
    <div class="col-md-20">
      <a href="{% url 'tambah_siswa' %}" class="btn btn-primary mb-3">Tambah siswa</a><br>
      <div class="mt-3 mb-3">
        <form action="" method="post">
          {% csrf_token %}
          <input type="search" name="cari" placeholder="Cari" class="form-control">
        </form>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>TANGGAL</th>
            <th>NAMA</th>
            <th>KELAS</th>
            <th>KETERANGAN</th>
            <th>JUMLAH POIN</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          {% for data in datas %}
          <tr>
            <td>{{ data.tanggal }}</td>
            <td>{{ data.nama }}</td>
            <td>{{ data.kelas }}</td>
            <td>{{ data.keterangan }}</td>
            <td>{{ data.jumlah_poin }}</td>
            <td>
                <button data-toggle="modal" data-target="#hapus-{{ data.id }}" class="btn btn-danger">Hapus</button>
            </td>              
            <div class="modal" id="hapus-{{ data.id }}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="modal-title">
                      <h3>Hapus</h3>
                    </div>
                  </div>
                  <div class="modal-body">
                    Apakah anda yakin ingin menghapus <strong>{{ data.na | upper }}</strong>
                  </div>
                  <div class="modal-footer">
                    <a href="{% url 'hapus_siswa' data.id%}" class="btn btn-danger">Hapus</a>
                    <button class="btn btn-dark" data-dismiss="modal">Tidak</button>
                  </div>
                </div>
              </div>
            </div>
         </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}