{% extends 'base.html' %}

{% block content %} 
<div class="container">
  <div class="row-md-20">
    <div class="col-md-20">
      <a href=""><button>tambah siswa</button></a><br>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Cari</button>
      </form><br>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>TANGGAL</th>
            <th>NAMA</th>
            <th>KELAS</th>
            <th>KETERANGAN</th>
            <th>JUMLAH POIN</th>
          </tr>
        </thead>
        <tbody>
          {% for data in datas %}
          <tr>
            <td>{{ data.tanggal }}</td>
            <td>{{ data.nama }}</td>
            <td>{{ data.kelas }}</td>
            <td>{{ data.keterangan }}</td>
            <td>{{ data.jumlah_poin }}</td>
         </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}