{% extends 'base.html' %}

{% block content %}

<center>
  <h3>Tambah Siswa</h3>
</center>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      {% if pesan %}
        <div class="alert alert-success">{{ pesan }}</div>     
      {% endif %}

      <form action="/tambah/" method="post">
        {% csrf_token %}

 
        {{ form.as_p }}

        <div class="text-right">
          <a href="/pelanggar" class="btn btn-dark me-10"">Kembali</a>  
          <button class="btn btn-primary">Tambah</button>    
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}